@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@theme {
  --color-primary: #dab98f;
  --color-secondary: #6d4b2c;
  --color-light-gray: #f1f1f1;
  --color-dusty-orange: #e2a663
}

html {
  scroll-behavior: smooth;
}